
.bannerBlock::before{
    background: rgba(81,57,70,0.62);
}
.bannerBlock .locationForm .btn{
    background-color: #f155ae;
}
.howItWorks h2{
    color: #f155ae;
}
.howItWorks::before,
.shortTermSolution::before{
    background: #f155ae;
}
.weHoldBlock {
    background: #FFD6ED;
}
.weHoldBlock *, .weHoldContentBlock .holdItem p,
.shortTermSolution h4,
.rootCause h4,
.lastResult h4,
.lastResult .resultItem *,
.realStories h6{
    color: #f155ae;
}
.shortTermSolution .btn{
    background: #f155ae;
    border: 1px solid transparent;
}
.shortTermSolution .btn:hover,
.shortTermSolution .btn:focus{
    background: var(--white);
    color: #f155ae;
    border-bottom-color: #f155ae;
}
.shortTermSolution .btn:hover i,
.shortTermSolution .btn:focus i{
    color: #f155ae;
}
.rootCause p{
    font-size: 1.6rem;
    line-height: 2rem;
}
.rootContentGrids .innerBlock {
    background: #FFD6ED;
    height: 28rem;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rootCause .buttonDiv .btn,
.lastResult .buttonDiv .btn,
.menWithEd{
    background: #f155ae;
}
.rootCause .buttonDiv .btn:hover,
.rootCause .buttonDiv .btn:focus,
.lastResult .buttonDiv .btn:hover,
.lastResult .buttonDiv .btn:focus{
    background: #fff;
    color: #f155ae;
}
.lastResult .resultItem {
    text-align: center;
    padding: 0 1rem;
}
.lastResult .resultItem i{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.menWithEd .edItem{
    background-color: #0F0D304A;
}
.menWithEd .edItem:hover{
    background: #fff;
}
.menWithEd .edItem:hover *,
.faqBlockHim * {
    color: #f155ae;
}
.helpCorner{
    background-image: url(../images/Legs.png);
}


@media screen and (max-width: 1023px) {
    .rootContentGrids{
        grid-template-columns: 1fr;
    }
    .rootContentGrids .innerBlock{
        height: 38rem;
    }
    .rootCause {
        background-color: #e5e5e5;
        padding: 10rem 0;
    }
    .lastResult .contentBlock {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 4rem;
        padding: 3rem 0 6rem;
    }
    .helpCorner h2{
        font-size: 54px;
    }
    .realStories{
        grid-template-columns: 1fr;
    }
    .imagesSlider{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .howItWorks {
        position: relative;
        padding: 8rem 0;
    }
    .howItWorks h2 {
        font-size: 3rem;
        line-height: normal;
    }
    .howItWorks .videoItem {
        height: 23.8rem;
    }
    .howItWorks::before{
        height: calc(100% - 24rem);
    }
    .workContent{
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
    .workContent p, .workContent .buttonDiv{
        text-align: center;
    }
    .weHoldContentBlock, .shortTermSolution .contentBlock, .rootContentGrids, .lastResult .contentBlock,
    .menWithEd .contentBlock{
        grid-template-columns: 1fr;
    }
    .weHoldContentBlock .holdItem {
        border-right: none;
        border-bottom: 1px solid #0F0D301A;
    }
    .shortTermSolution img{
        padding-left: 0;
    }
    .shortTermSolution::before{
        display: none;
    }
    .shortTermSolution .btn{
        height: auto;
    }
    .rootCause p {
        font-size: 1.4rem;
    }
    .rootCause{
        padding: 2rem 0;
    }
    .rootCause .container-fluid {
        padding: 0 2rem;
    }
    .realStories .contentBlock{
        margin: 0;
    }
    .testStories .slide-description{
        font-size: 18px;
    }
    .faqBlockHim {
        padding: 8rem 0;
    }
    .faqBlockHim h2 {
        font-size: 2.5rem;
    }
    .helpCorner .contentBlock{
        grid-template-columns: 1fr;
    }
    .helpCorner{
        padding: 8rem 0;
    }
    .helpCorner h2 {
        color: var(--white);
        font-size: 31px;
        line-height: 1.4em;
        margin-bottom: 0.6rem;
        text-align: center;
    }
    .helpCorner p{
        text-align: center;
    }
    .helpCorner .buttonDiv{
        text-align: center;
    }
    .helpCorner{
        background-position: center;
    }
}
@media screen and (max-width: 480px) {
    .howItWorks .videoItem {
        height: 20.8rem;
    }
    .howItWorks::before{
        height: calc(100% - 24rem);
    }
}