/*-----------hime-page----------*/

.bannerBlock.himPage{
    position: relative;
}
.howItWorks{
    position: relative;
    padding: 12rem 0;
}
.howItWorks::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 36rem);
    background: #0f0d30;
    pointer-events: none;
}
.howItWorks h2{
    font-size: 6rem;
    line-height: normal;
}
.howItWorks .videoItem{
    height: 67.5rem;
}
.workContent{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8rem;
    align-items: center;
    margin-top: 5rem;
}
.workContent p{
    color: var(--white);
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.weHoldBlock{
    background: #e9edf0;
}
.weHoldContentBlock{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
.weHoldContentBlock .holdItem{
    padding: 10%;
    border-right: 1px solid #0F0D301A;
    text-align: center;
}
.weHoldContentBlock .holdItem i{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.weHoldContentBlock .holdItem p{
    color: #0f0d30;
}

.shortTermSolution{
    position: relative;
}
.shortTermSolution::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 34.8rem;
    height: 50rem;
    background: #201b7c;
}
.shortTermSolution .contentBlock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    align-items: center;
}
.shortTermSolution img{
    width: auto;
    max-height: 60rem;
    padding-left: 6rem;
} 
.shortTermSolution .textBlock{
    max-width: 47rem;
}
.shortTermSolution h4{
    color: #100c30;
}
.shortTermSolution p{
    color: #333333;
    margin-bottom: 1.6rem;
}
.shortTermSolution .btn{
    display: inline-flex;
    font-weight: normal;
    border-radius: 0;
    border: 1px solid transparent;
    margin-top: 2rem;
    padding: 1.5rem 3rem;
}
.shortTermSolution .btn i{
    color: var(--white);
    margin-left: 0.5rem;
}
.shortTermSolution .btn:hover, .shortTermSolution .btn:focus{
    border-bottom-color: #201B7C;
    color: #201B7C;
}
.shortTermSolution .btn:hover i{
    color: #201B7C;
}
.rootCause{
    background-color: #e5e5e5;
    padding: 20rem 0;
}
.rootCause h4{
    margin-bottom: 0.6rem;
}
.rootCause p{
    max-width: 94.2rem;
    color: #818181;
    line-height: 3rem;
    margin: 0 auto 1.6rem;
}
.lastResult{
    background: #e9edf0;
    padding: 10rem 0;
}
.lastResult p{
    color: #818181;
    line-height: 3rem;
    margin: 3rem auto 1.6rem;
}
.lastResult .contentBlock{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4rem;
    padding: 3rem 0 6rem;
}
.lastResult .resultItem{
    text-align: center;
    padding: 0 3rem;
}
.lastResult .resultItem svg{
    fill: #818181;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.6rem;
}
.lastResult .resultItem h3{
    margin-bottom: 1rem;
}
.lastResult .resultItem p{
    margin: 0;
}
.realStories{
    position: relative;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 53.2rem;
}
.realStories .contentBlock{
    max-width: 81.2rem;
    margin: 0 16.6rem;
    text-align: center;
    overflow: hidden;
}
.realStories .swiper-container{
    position: relative;
    padding-bottom: 6rem;
}
.realStories .slide-heading img{
    width: 7rem;
    height: 7rem;
    margin: 0 auto 1rem;
}
.realStories .slide-description{
    max-width: 47.7rem;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    margin: auto;
}
.realStories .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2rem !important;
}
.realStories .slide-name{
    font-weight: 700;
    color: #0f0d30;
    font-style: italic;
    margin: 25px auto;
}
.rootContentGrids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0;
    align-items: center;
}
.rootContentGrids .innerBlock{
    background: var(--white);
    height: 50rem;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rootCause .buttonDiv{
    margin-top: 2rem;
}
.rootCause img{
    height: 33.3rem;
}
.rootCause .container-fluid{
    padding: 0 6rem;
}
.rootCause h5{
    font-size: 2rem;
    color: #100c30;
    font-weight: normal;
    margin-bottom: 0.6rem;
}
.rootCause p{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #818181;
}

.testStories{
    padding-bottom: 0;
}
.testStories .container{
    overflow: hidden;
}
.testStories .swiper-container{
    padding-bottom: 8rem;
}
.testStories .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 4rem !important;
}
.testStories .slide-heading img{
    width: 7rem;
    height: 7rem;
    margin: 0 auto 1rem;
}
.testStories .slide-description{
    max-width: 90.4rem;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    margin: auto;
}
.testStories .slide-name{
    font-weight: 700;
    color: #0f0d30;
    font-style: italic;
    margin: 25px auto;
}
.videoStories{
    padding: 0;
}
.videoStories .swiper-backface-hidden .swiper-slide{
    padding: 0 5px !important;
}
.menWithEd{
    background: #0f0d30;
    padding: 15rem 0;
}
.menWithEd h2{
    color: var(--white);
    font-size: 3.6rem;
    color: var(--white);
    margin-bottom: 0.6rem;
}
.menWithEd p{
    color: var(--white);
}
.menWithEd .contentBlock{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
}
.menWithEd .edItem{
    border: 1px solid #FFFFFF1F;
    padding: 2rem;
    border-radius: 10px;
    height: 25.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menWithEd .edItem *{
    color: var(--white);
}
.menWithEd .edItem i{
    font-size: 4rem;
    padding: 0 0 2rem;
}
.menWithEd .edItem:hover{
    background: var(--white);
}
.menWithEd .edItem:hover *{
    color: #0f0d30;
}
.menWithEd .buttonDiv{
    margin-top: 2rem;
}
.menWithEd .buttonDiv p{
    margin-bottom: 3rem;
}
.menWithEd .buttonDiv .btn{
    border: none;
    border-bottom: 1px solid var(--white);
    font-size: 1.6rem;
    font-weight: normal;
}
.menWithEd .buttonDiv .btn i{
    color: var(--white);
    margin-left: 0.6rem;
}
.menWithEd .buttonDiv .btn:hover,
.menWithEd .buttonDiv .btn:focus{
    background-color: var(--white);
    color: #0f0d30;
}
.menWithEd .buttonDiv .btn:hover i,
.menWithEd .buttonDiv .btn:focus i{
    color: #0f0d30;
}

.quoteBlock{
    padding: 8rem 0;
    background-color: #e9eded;
}
.quoteBlock img{
    width: 7rem;
    height: 7rem;
    margin: 0 auto 1rem;
}
.quoteBlock .slide-description{
    max-width: 90.4rem;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: auto;
    color: #100c30;
}
.quoteBlock .slide-user img{
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 100%;
    border: 1px solid #201b7c;
    margin: 0.2rem auto;
}
.quoteBlock .slide-name{
    font-weight: 700;
    color: #0f0d30;
    margin: auto;
    text-align: center;
}
.faqBlockHim{
    background: #e5e5e5;
    padding: 15rem 0;
}
.faqBlockHim h2{
    font-size: 3.6rem;
    line-height: normal;
    color: #100c30;
}
.btnC {
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 0;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: normal;
  display: inline-flex;
  height: 4.8rem;
}
.faqBlockHim .accordion .accordion-content-title{
    font-size: 1.6rem;
}
.faqBlockHim .accordion .accordion-content-title i{
    margin-right: 5px;
}
.faqBlockHim .accordion header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqBlockHim .accordion-content.is-open .accordion-content-description{
    font-size: 1.6rem;
    margin-bottom: 0;
    padding-bottom: 0;
}   
.faqBlockHim .accordion-content.is-open .accordion-content-description span{
    display: block;
    margin-bottom: 1.5rem;
}
.faqBlockHim ul {
    padding-left: 3rem;
    list-style: disc;
}
.faqBlockHim ul li{
    list-style: disc;
    color: #333333;
}
.faqBlockHim .accordion-content.is-open .fa-angle-right{
    transform: rotate(90deg);
}
.helpCorner{
    position: relative;
    background: url(../images/shutterstock_520571764-scaled-1.webp) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 15rem 0;
}
.helpCorner::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0,0,0,0.44);
    z-index: 1;
}
.helpCorner .contentBlock{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.helpCorner h2{
    color: var(--white);
    font-size: 66px;
    line-height: 1.1em;
    margin-bottom: 0.6rem;
}
.helpCorner p{
    color: var(--white);
    line-height: 3rem;
    margin-bottom: 3rem;
}
.videoStories .videoItem{
    position: relative;
    height: 40rem;
}
.videoStories .textHoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: var(--white);
    background-color: #0F0D30DB;
    transition: transform .5s, opacity .5s;
    pointer-events: none;
}
.videoStories .videoItem:not(:hover) .textHoverOverlay {
    transform: translateY(-100%);
}
.videoStories .textHoverOverlay p{
    color: var(--white);
}
.videoStories .swiper-button-next, .videoStories .swiper-button-prev{
    width: 2.5rem !important;
    height: 2.5rem !important;
    color: var(--white) !important;
}
.videoStories .swiper-button-next:after, .videoStories .swiper-button-prev:after{
    font-size: 2.5rem !important;
}

/* .imagesSlider{
    position: absolute;
    right: 0;
    top: 0;
    width: 53.2rem;
    height: 100%;
} */


/*------------herpage-css----------*/

.herPage .bannerBlock::before{
    background: rgba(81,57,70,0.62);
}
.herPage .bannerBlock .locationForm .btn{
    background-color: #f155ae;
}
.herPage .howItWorks h2{
    color: #f155ae;
}
.herPage .howItWorks::before,
.shortTermSolution::before{
    background: #f155ae;
}
.herPage .weHoldBlock {
    background: #FFD6ED;
}
.herPage .weHoldBlock *, .herPage .weHoldContentBlock .holdItem p,
.herPage .shortTermSolution h4,
.herPage .rootCause h4,
.herPage .lastResult h4,
.herPage .lastResult .resultItem *,
.herPage .realStories h6{
    color: #f155ae;
}
.herPage .shortTermSolution .btn{
    background: #f155ae;
    border: 1px solid transparent;
}
.herPage .shortTermSolution .btn:hover,
.herPage .shortTermSolution .btn:focus{
    background: var(--white);
    color: #f155ae;
    border-bottom-color: #f155ae;
}
.herPage .shortTermSolution .btn:hover i,
.herPage .shortTermSolution .btn:focus i{
    color: #f155ae;
}
.herPage .rootCause p{
    font-size: 1.6rem;
    line-height: 3rem;
}
.herPage .rootContentGrids .innerBlock {
    background: #FFD6ED;
}
.herPage .rootCause .buttonDiv .btn,
.herPage .lastResult .buttonDiv .btn,
.herPage .menWithEd{
    background: #f155ae;
}
.herPage .rootCause .buttonDiv .btn:hover,
.herPage .rootCause .buttonDiv .btn:focus,
.herPage .lastResult .buttonDiv .btn:hover,
.herPage .lastResult .buttonDiv .btn:focus{
    background: #fff;
    color: #f155ae;
}
.herPage .lastResult .resultItem {
    text-align: center;
    padding: 0 1rem;
}
.herPage .lastResult .resultItem i{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.herPage .menWithEd .edItem{
    background-color: #0F0D304A;
}
.herPage .menWithEd .edItem:hover{
    background: #fff;
}
.herPage .menWithEd .edItem:hover *,
.herPage .faqBlockHim * {
    color: #f155ae;
}
.herPage .helpCorner{
    background-image: url(../images/Legs.png);
}


@media screen and (max-width: 1023px) {
    .rootContentGrids{
        grid-template-columns: 1fr;
    }
    .rootContentGrids .innerBlock{
        height: 28rem;
    }
    .rootCause {
        background-color: #e5e5e5;
        padding: 10rem 0;
    }
    .lastResult .contentBlock {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 4rem;
        padding: 3rem 0 6rem;
    }
    .helpCorner h2{
        font-size: 54px;
    }
    .realStories{
        grid-template-columns: 1fr;
    }
    .imagesSlider{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .howItWorks {
        position: relative;
        padding: 8rem 0;
    }
    .howItWorks h2 {
        font-size: 3rem;
        line-height: normal;
    }
    .howItWorks .videoItem {
        height: 23.8rem;
    }
    .howItWorks::before{
        height: calc(100% - 24rem);
    }
    .workContent{
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }
    .workContent p, .workContent .buttonDiv{
        text-align: center;
    }
    .weHoldContentBlock, .shortTermSolution .contentBlock, .rootContentGrids, .lastResult .contentBlock,
    .menWithEd .contentBlock{
        grid-template-columns: 1fr;
    }
    .weHoldContentBlock .holdItem {
        border-right: none;
        border-bottom: 1px solid #0F0D301A;
    }
    .shortTermSolution img{
        padding-left: 0;
    }
    .shortTermSolution::before{
        display: none;
    }
    .shortTermSolution .btn{
        height: auto;
    }
    .rootCause{
        padding: 8rem 0;
    }
    .rootCause .container-fluid {
        padding: 0 2rem;
    }
    .realStories .contentBlock{
        margin: 0;
    }
    .testStories .slide-description{
        font-size: 18px;
    }
    .faqBlockHim {
        padding: 8rem 0;
    }
    .faqBlockHim h2 {
        font-size: 2.5rem;
    }
    .helpCorner .contentBlock{
        grid-template-columns: 1fr;
    }
    .helpCorner{
        padding: 8rem 0;
    }
    .helpCorner h2 {
        color: var(--white);
        font-size: 31px;
        line-height: 1.4em;
        margin-bottom: 0.6rem;
        text-align: center;
    }
    .helpCorner p{
        text-align: center;
    }
    .helpCorner .buttonDiv{
        text-align: center;
    }
    .helpCorner{
        background-position: center;
    }
}
@media screen and (max-width: 480px) {
    .howItWorks .videoItem {
        height: 20.8rem;
    }
    .howItWorks::before{
        height: calc(100% - 24rem);
    }
}